{% extends "base.html" %}

{% block content %}
    <div class="event-calendar"></div>

    {% if tasks %}
        <hr>
        <h5 class="text-secondary"><span class="fas mr-1 fa-tasks"></span>Tasks</h5>
        <ul class="list-group list-group-flush tasks">
            {% for task in tasks %}
                <li class="list-group-item task">
                    <a href="{% url 'task_detail' pk=task.pk %}" class="task-title"><span
                            class="fas mr-1 fa-star"></span>{{ task.title }}</a>
                    <hr>
                    <p class="task-date-start"><span class="fas mr-1 fa-clock"></span>Date
                        Start: {{ task.date_start|date:"Y-m-d h:i" }}</p>
                    <p class="task-date-end"><span class="fas mr-1 fa-clock"></span>Date
                        End: {{ task.date_end|date:"Y-m-d h:i" }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}