{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h4>Edit Task</h4>
    <hr>
    <h5>Project: <a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a></h5>

    <form action="" method="post" class="form-group">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <ul class="list-without-dots">
            {% for field, errors in form.errors.items %}
                <li>
                    {% for error in errors %}
                        <span class="alert alert-danger">{{ error }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block alert alert-danger">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <input class="btn btn-secondary" type="submit" value="Edit Task"/>
    </form>

{% endblock %}