{% extends "base.html" %}
{% load tracker_extras %}
{% block content %}
    {% if projects.all %}

        <b><span class="fa mr-1 fa-project-diagram"></span>Projects<br><br></b>
        <ul class="highlight-hover-list list-group">
            {% for project in projects %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'project_detail' pk=project.pk %}"><span class="fas mr-1 fa-clipboard"></span>{{ project.title }}</a>
                            <hr>
                            <p><span class="fas fa-user mr-1"></span> <a
                                    href="{% url 'user_detail' pk=project.owner.pk %}">{{ project.owner.username }}</a>
                            </p>
                            <p><span class="fas mr-1 fa-clock"></span>Date create:
                                <span>{{ project.date_create }}</span></p>
                            <p><span class="fas mr-1 fa-clock"></span>Date edit: <span>{{ project.date_edit }}</span>
                            </p>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'project_delete' project.pk %}" class="btn btn-dark w-25 p-2"><span
                                    class="mr-2 fas fa-check"></span><b>Complete</b></a>
                            <a href="{% url 'edit_project' pk=project.pk %}" class="btn btn-secondary w-25 p-2"><span
                                    class="float-left mt-1 mr-2 fas fa-edit"></span><b class="mr-3">Edit</b></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if access_projects %}
        <hr>
        <b><span class="fas mr-1 fa-lg fa-universal-access"></span>Accesses<br><br></b>
        <ul class="highlight-hover-list list-group">
            {% for project in access_projects %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <a href="{% url 'project_detail' pk=project.pk %}"><span
                                    class="fas fa-location-arrow"></span> {{ project.title }}</a>
                            <hr>
                            <p><span class="fas fa-user mr-1"></span> <a
                                    href="{% url 'user_detail' pk=project.owner.pk %}">{{ project.owner.username }}</a>
                            </p>
                            <p><span class="fas mr-1 fa-clock"></span>Date create:
                                <span>{{ project.date_create }}</span></p>
                            <p><span class="fas mr-1 fa-clock"></span>Date edit: <span>{{ project.date_edit }}</span>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}