{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h1>New Task</h1>
    <p>
        <b>Current Project:</b>
        <a href="{% url 'project_detail' pk=project.pk %}">
            {{ project.title }}
        </a>
    </p>

    <form class="form-group" action="" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <ul class="list-without-dots">
            {% for field, errors in form.errors.items %}
                <li>
                    {% for error in errors %}
                        <span class="alert alert-danger">{{ error }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Add Task"/>
    </form>

{% endblock %}