{% extends "base.html" %}

{% block content %}
    <h1>New Comment</h1>
    <p>
        <b>Current Task:</b>
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Task"/>
    </form>
{% endblock %}