{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h4>New project</h4>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
{% endblock %}