{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h1>New Notification</h1>
    <p>
        <b>Current Task: {{ task.title }}</b>
    </p>

    <hr>
    <div id="notificationForm1">
     <form action="" method="post">
        {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <ul class="list-without-dots">
            {% for field, errors in form.errors.items %}
                <li>
                    {% for error in errors %}
                        <span class="alert alert-danger">{{ error }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block alert alert-danger">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Create notification"/>
    </form>
    </div>
{% endblock %}