{% extends 'base.html' %}

{% block content %}
    <h4><span class="fas mr-1 fa-bars"></span>Plans</h4>
    <ul class="list-group list-group-flush">
        {% for plan in plans %}
            <li class="list-group-item">
                <a>{{ plan.plan_on_task }}</a>
                {% if plan.plan_policy_repeat or plan.plan_date_repeat_end %}
                    <p><a>{{ plan.plan_policy_repeat }}</a></p>
                    <p>
                        <a>{{ plan.plan_date_repeat_end }}</a>
                    </p>
                {% else %}
                    <p class="text-success">The plan is complete !</p>
                {% endif %}
                <form method="POST" action="{% url 'plan_delete' pk=plan.pk project_pk=plan.plan_on_project.pk %}">
                    {% csrf_token %}<input type="submit" class="btn btn-secondary" value="Remove"/>
                </form>
            </li>
        {% empty %}
            <p class="text-danger">No plans yet.</p>
        {% endfor %}
    </ul>
{% endblock %}