{% extends "base.html" %}

{% block content %}
    <form class="form-group" action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}" ?</p>
        <input class="btn btn-secondary" type="submit" value="Confirm"/>
    </form>
{% endblock %}