{% extends 'base.html' %}

{% block content %}
   <b>Owner: <span class="list-group-item-success"> {{ object.owner.username }}</span></b>
    <hr>
    {% if users_with_access %}
    <p><span class="fas mr-1 fa-users"></span><b>Members</b></p>
    <ul class="list-group list-group-flush">
                {% for user_item in users_with_access %}
            <li class="list-group-item">
                <a href="{% url "user_detail" pk=user_item.pk %}">
                    {{ user_item.username }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>

        {% if users_without_access.all %}
            <hr>
                <ul>
            <p><span class="fa fa-users"></span><b>Users </b></p>
            {% for user_item in users_without_access %}
                <li>

                    {{ user_item.username }}
                     <form method="POST" action="{% url 'new_project_access' project_pk=object.pk to_user_pk=user_item.pk %}">
                        {% csrf_token %}
                         <input type="submit" class="btn mt-1 btn-secondary" value="Grant"/>
                    </form>
                </li>
            {% endfor %}
            </ul>

        {% endif %}

    <ul>
        {% if user == object.owner %}
            {% for user_item in users %}
                <li>
                    <p>
                        {% if object.owner == user_item %}
                            <span>Owner: {{ user_item.username }}</span>
                        {% else %}
                            {{ user_item.username }}
                            {% for access in access_list %}
                                {% if access.to_user.username == user_item.username %}
                                <a href="{% url 'new_project_access' project_pk=object.pk to_user_pk=user_item.pk %}">Grant
                                        Access</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </li>
            {% endfor %}
        {% else %}
            {% for user_item in users %}
                <li>

                    <p>
                        {% if object.owner == user_item %}
                            <span>Owner: {{ user_item.username }}</span>
                        {% else %}
                            {{ user_item.username }}
                        {% endif %}
                    </p>
                </li>
            {% endfor %}

        {% endif %}
    </ul>

    {% if access_list.all %}
        <p>
            <b class="text-secondary">Access List:</b>
        </p>

        <ul class="list-group list-group-flush">
            {% for access in access_list %}
                <li class="list-group-item">
                    <p>
                        From: <span>{{ access.owner.username }}</span> To: <span>{{ access.to_user.username }}</span>
                    <form method="POST" action="{% url 'project_access_delete' pk=access.pk project_pk=object.pk %}">
                        {% csrf_token %}<input type="submit" class="btn btn-secondary" value="Remove"/>
                    </form>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}