{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-header"><span class="fas mr-2 fa-clipboard"></span>{{ object.title }}</h3>
            <p></p>
            <p class="card-subtitle"><span class="fas mr-1 fa-user"></span> <a
                    href="{% url 'user_detail' pk=object.owner.pk %}">{{ object.owner.username }}</a></p>
            <hr>
            <p class="card-text"><span class="fas mr-1 fa-clock"></span>Date create:
                <b>{{ object.date_create|date:"Y-m-d h:i" }}</b></p>
            {% if object.date_edit %}
                <p class="card-text"><span class="fas mr-1 fa-clock"></span>Date edit:
                    <b>{{ object.date_edit|date:"Y-m-d h:i" }}</b></p>
            {% endif %}
        </div>
    </div>
    <hr>

    <a class="btn btn-primary" data-toggle="collapse" href="#taskForm" role="button" aria-expanded="false"
       aria-controls="taskForm">
        <span class="fas mr-1 fa-arrow-down"></span>New Task
    </a>
    <div class="collapse" id="taskForm">
        <div class="card card-body">
            <form action="{% url 'new_task' %}?project_pk={{ object.pk }}" method="post">
                {% csrf_token %}
                {% for hidden in task_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <ul class="list-without-dots">
                    {% for field, errors in form.errors.items %}
                        <li>
                            {% for error in errors %}
                                <span class="alert ">{{ error }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
                {% for field in task_form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Add Task"/>
            </form>

        </div>
    </div>

    <a class="btn btn-primary" data-toggle="collapse" href="#planForm" role="button" aria-expanded="false"
       aria-controls="planForm">
        <span class="fas mr-1 fa-arrow-down"></span>New Plan
    </a>
    <div class="collapse" id="planForm">
        <div class="card card-body">
            <form action="{% url 'new_plan' %}?project_pk={{ object.pk }}" method="post">
                {% csrf_token %}
                {% for hidden in plan_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <ul class="list-without-dots">
                    {% for field, errors in form.errors.items %}
                        <li>
                            {% for error in errors %}
                                <span class="alert ">{{ error }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
                {% for field in plan_form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Add Plan"/>
            </form>

        </div>
    </div>



    <p>
    <p>
        {% if request.user == object.owner %}
            <a class="btn btn-secondary" href="{% url 'project_access' pk=object.pk %}"><span
                    class="fas mr-1 fa-lg fa-universal-access"></span><b>Access list</b></a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'project_plans' project_pk=object.pk %}"><span
                class="fas mr-1 fa-lg fa-map"></span><b>Plans list</b></a>
    </p>
    {% if tasks %}
        <hr>
        <p>
            <b><span class="fas mr-1 fa-tasks"></span>Tasks</b>
        </p>
        <ul class="list-group">
            {% for task in tasks %}
                {% include "tree_view_task.html" %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}