{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <b class="text-secondary">{{ object.title }}</b>
    <hr>
    <p>
    <form class="form-group" action="{% url "new_comment" %}?task_pk={{ object.pk }}" method="post">
        {% csrf_token %}
        {% for hidden in comment_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in comment_form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block alert alert-danger">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <input class="btn btn-secondary" type="submit" value="Comment"/>
    </form>
    <p>
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
            <li class="list-group-item">
                <b class="text-secondary">{{ comment.owner.username }}:</b>
                {{ comment.comment_msg }}
            </li>
        {% endfor %}
    </ul>
    <div>
        {% if all_notifications %}
            <hr>
            <h5 class="text-secondary">Notifications</h5>
            <ul class="list-group list-group-flush">
                {% for notification in all_notifications %}
                    <li class="list-group-item">
                        <p class="text-secondary">Notification on: <span
                                class="text-warning">{{ notification.notify_date }}</span></p>
                        <form class="form-group" method="post"
                              action="{% url 'task_notification_delete' pk=notification.pk task_pk=notification.notification_on.pk %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-secondary" value="Remove">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}