{% extends 'base.html' %}

{% block content %}
    <b>Owner: <span class="list-group-item-success">{{ object.created_by.username }}</span></b>
    <hr>
    {% if users_with_access %}
    <p class="text-secondary"><span class="fas mr-1 fa-users"></span>Users with access</p>
    <ul class="list-group list-group-flush">
        {% for user_item in users_with_access %}
            <li class="list-group-item">
            <a href="{% url 'user_detail' pk=user_item.pk %}">{{ user_item.username }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
{% if users_without_access %}
                <ul>
                    <p class="text-secondary"><span class="fas mr-1 fa-users"></span>Users without access</p>
            {% for user_item in users_without_access %}
                <li>

                    {{ user_item.username }}
                    <form method="POST" action="{% url 'new_task_access' task_pk=object.pk to_user_pk=user_item.pk %}">
                        {% csrf_token %}<input type="submit" class="btn btn-secondary" value="Access"/>
                    </form>
                </li>
            {% endfor %}
            </ul>
    {% endif %}


     {% if access_list.all %}
        <p>
            <b class="text-secondary">Access List:</b>
        </p>

        <ul class="list-group list-group-flush">
            {% for access in access_list %}
                <li class="list-group-item">
                    <p>
                        From: <span>{{ access.owner.username }}</span> To: <span>{{ access.to_user.username }}</span>
                    <form method="POST" action="{% url 'task_access_delete' pk=access.pk task_pk=object.pk %}">
                        {% csrf_token %}<input type="submit" class="btn btn-secondary" value="Remove"/>
                    </form>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}