{% extends "base.html" %}

{% block content %}
    {% if tasks or access_tasks %}
        {% if tasks %}
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">
                        <h5>Project: <a
                                href="{% url 'project_detail' pk=task.task_on.pk %}">{{ task.task_on.title }}</a></h5>
                        <p><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if access_tasks %}
            <ul class="list-group">
                {% for task in access_tasks %}
                    <li class="list-group-item">
                        <h5>Project: <a
                                href="{% url 'project_detail' pk=task.task_on.pk %}">{{ task.task_on.title }}</a></h5>
                        <p><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h5 class="text-danger">Nothing was found.</h5>
    {% endif %}
{% endblock %}