{% if task.status == 'Pending' %}
    <li class="list-group-item">
        <span class="far mr-1 fa-lg fa-square"></span>
        {% elif task.status == 'Completed' %}
    <li class="list-group-item list-group-item-success">
        <span class="far mr-1 fa-lg fa-check-square"></span>
        {% elif task.status == 'Failed' %}
    <li class="list-group-item list-group-item-danger">
    <span class="fas mr-1 fa-lg fa-times"></span>
{% endif %}
<a class="text-left" href="{% url "task_detail" pk=task.pk %}">{{ task.title }}</a>
{% if task.attr %}
    <span class="text-large ml-1 float-right badge badge-secondary">{{ task.attr }}</span>
{% endif %}
{% if task.priority_level == 1 %}
    <span class="text-large float-right badge badge-success">Low</span>
{% elif task.priority_level == 2 %}
    <span class="text-large float-right badge badge-warning">Middle</span>
{% elif task.priority_level == 3 %}
    <span class="text-large float-right badge badge-danger">High</span>
{% endif %}
{% if task.status == 'Pending' or task.status == 'Failed' %}
    <form class="mt-3 text-right" action="{% url 'complete_task' pk=task.pk project_pk=task.task_on.pk %}"
          method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Complete</button>
    </form>
{% elif task.status == 'Completed' %}
    <form class="mt-3 text-right" action="{% url 'restore_task' pk=task.pk project_pk=task.task_on.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Restore</button>
    </form>
{% endif %}
<hr>
<p>
    <span class="fas mr-1 fa-user"></span> Created by: <a class="text-left"
                                                          href="{% url "user_detail" pk=task.created_by.pk %}">{{ task.created_by.username }}</a>
</p>
<p class="card-text"><span class="fas mr-1 fa-clock"></span>Date create:
    <b>{{ task.date_create|date:"Y-m-d h:i" }}</b></p>
{% if task.date_edit %}
    <p class="card-text"><span class="fas mr-1 fa-clock"></span>Date edit:
        <b>{{ task.date_edit|date:"Y-m-d h:i" }}</b></p>
{% endif %}
{% if task.date_start and task.date_end %}
    <p class="card-text"><span class="fas mr-1 fa-clock"></span>Deadline:
        <b>{{ task.date_start|date:"Y-m-d h:i" }}</b> <span
                class="fas mr-1 fa-long-arrow-alt-right"></span><b>{{ task.date_end|date:"Y-m-d h:i" }}</b>
    </p>
{% endif %}
<div class="text-right">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas mr-1 fa-arrow-down"></span> Menu
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a href="{% url "new_sub_task" %}?project_pk={{ object.pk }}&parent_task_pk={{ task.pk }}"
               class="dropdown-item"><span class="fas mr-1 fa-plus"></span>Add</a>
            <a href="{% url "edit_task" pk=task.pk %}" class="dropdown-item"><span class="fas mr-1 fa-edit"></span>Edit</a>
            <a href="{% url "task_delete" task.pk object.pk %}" class="dropdown-item"><span
                    class="fas mr-1 fa-trash"></span>Delete</a>
            <a href="{% url 'new_notification' task_pk=task.pk %}" class="dropdown-item"><span
                    class="fas mr-1 fa-bell"></span>Notify</a>
            {% if request.user == task.created_by %}
                <a href="{% url 'task_access' pk=task.pk %}" class="dropdown-item"><span
                        class="fas mr-1 fa-user-circle"></span>Access</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="text-left">
    {% if task.task_set.exists %}
        <ul class="list-group">
            {% for sub_task in task.task_set.all %}
                {% with task=sub_task %}
                    {% include "tree_view_task.html" %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}

</div>
</li>
