.cal {
    max-height: 600px;
    max-width: 800px;
    overflow: hidden;
}

a {
    color: black;
}

.avatar {
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}

.avatar-list {
    max-height: 75px;
    max-width: 75px;
    overflow: hidden;
}

.list-without-dots {
    list-style-type: none;
}

.text-large {
    font-size: 100%;
}

.time-icon {
    width: 25px;
    height: 25px;
    font-size: small;
    text-align: left;
}