{% extends "base.html" %}

{% block content %}
    <h1 class="text-secondary">Login</h1>
    <form class="form-group" action="{% url "login" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}"/>
        <input class="btn btn-secondary" type="submit" value="Submit"/>
    </form>
{% endblock %}