{% extends 'base.html' %}
{% block content %}
    <h4><span class="fas mr-1 fa-user"></span>Profile</h4>
    <p class="m-2">Username: <b>{{ object.username }}</b></p>
    <p><img class="avatar" src="{{ profile.avatar.url }}"></p>
    {% if request.user == object %}

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
        <span class="fas fa-arrow-down"></span>
            Edit
        </button>
        <hr>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="{% url "new_user_profile" %}" method="post" class="form-group"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_profile_form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
        <h5><span class="fas mr-1 fa-project-diagram"></span>Projects</h5>
        <ul class="list-group list-group-flush">
            {% for project in projects %}
                <li class="list-group-item">
            <p><a href="{% url 'project_detail' pk=project.pk %}"><span class="fas mr-1 fa-arrow-right"></span>{{ project.title }}</a></p>
                </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p>
{% endblock %}