{% extends "base.html" %}

{% block content %}
    <h1>Create New User</h1>
    <form class="form-group" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" value="Create Account"/>
    </form>
{% endblock %}