{% extends 'base.html' %}

{% block content %}
    <h4><span class="fas mr-1 fa-users"></span>Users</h4>
    <ul class="list-group list-group-flush">
        {% for user_profile in object_list %}
            <li class="list-group-item">
           <span class="d-block p-2"> <h5><a href="{% url 'user_detail' pk=user_profile.user.pk %}"><span class="fas mr-1 fa-arrow-right"></span>{{ user_profile.user.username }}</a></h5></span>
                <a href="{% url 'user_detail' pk=user_profile.user.pk %}">                <img class="m-2 avatar-list" src="{{ user_profile.avatar.url }}"></a>
            <span class="d-block p-2">                {% if user_profile.user.is_staff %}
                    <h4 class="m-2 text-left"><span class="badge badge-secondary">Staff</span></h4>
                {% else %}
                   <h4 class="m-2 text-left"><span class="badge badge-secondary">User</span></h4>
                {% endif %}</span>
            </li>
        {% empty %}
            <li>No users yet.</li>
        {% endfor %}
    </ul>
{% endblock %}