{% load static %}
{% load tz %}
<html>
<head>
    <title>Tracker</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/jquery.datetimepicker.min.css' %}/>
    <link rel="stylesheet" href="{% static 'css/equinox.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url "home" %}"><span class="mr-2 fa-lg fas fa-crown"></span>Sona</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "home" %}"><span class="mr-1 fa fa-home"></span> Home</a>
            </li>
            <li>
                <a class="nav-link" href="{% url "calendar" %}"><span class="mr-2 fa fa-calendar"></span>Calendar</a>
            </li>
            <li>
                <a class="nav-link" href="{% url "users" %}"><span class="mr-2 fa fa-users">    </span> Users</a>
            </li>
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-sm-0 text-primary align-right">
                <input class="form-control mr-sm-4" name="question" type="search" placeholder="Search"
                       aria-label="Search">
                <select name="attribute" class="form-control">
                    <option value="" selected>Choose Attribute</option>
                    {% for attribute in attributes %}
                        <option value="{{ attribute.1 }}">{{ attribute.0 }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit"><span
                        class="fa fa-search"></span> Search
                </button>
            </form>

        </ul>
        {% if request.user.is_authenticated %}
            <div class="my-2 my-sm-0 nav-link text-primary dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropDown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-align-justify"></span>
                    {{ request.user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="userDropDown">
                    <a class="dropdown-item" href="{% url 'user_detail' pk=request.user.pk %}"><span
                            class="mr-2 fa fa-lg fa-address-card"></span> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url "logout" %}"><span
                            class="mr-2 fa fa-lg fa-sign-out-alt"></span>Logout</a>
                </div>
            </div>
            <div class="my-2 my-sm-0 nav-link text-primary dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="notificationsDropDown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-bell"></span>
                    Notifications
                    <span class="badge badge-light">{{ notifications.count }}</span>
                </button>
                {% if notifications %}
                    <div class="dropdown-menu" aria-labelledby="notificationsDropDown">
                        {% for notification in notifications %}
                            {% if not notification.is_seen %}
                                <div>
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <a class="d-inline dropdown-item align-left"
                                       href="{% url 'task_detail' pk=notification.notification_on.pk %}">{{ notification.notification_on.title }}</a>
                                    <form class="d-inline p-2" method="POST"
                                          action="{% url 'task_notification_update' pk=notification.pk %}?next={{ request.path }}">
                                        {% csrf_token %}
                                        <input class="float-right btn btn-secondary" type="submit" value="x"/>
                                    </form>
                                    <hr>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<div class="container-fluid my-3">

    {% block header %}
        <nav>
            <ul class="list-group">
                {% if request.user.is_authenticated %}
                    <li class="list-group-item"><a class="btn btn-dark" href="{% url "new_project" %}"><span
                            class="fas mr-1 fa-plus-square"></span>Submit New
                        Project</a></li>
                    <li class="list-group-item"><a class="btn btn-dark" href="{% url "logout" %}"><span
                            class="fas mr-1 fa-sign-out-alt"></span>Logout</a></li>
                {% else %}
                    <li class="list-group-item"><a class="btn btn-dark" href="{% url "login" %}"><span
                            class="fas mr-1 fa-sign-in-alt"></span>Login</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-dark"
                                                   href="{% url "user_registration" %}"><span
                            class="fas mr-1 fa-registered"></span>Register
                        Account</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/equinox.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>